@model ClaimBuddy.Models.UserProfile

@{
    ViewData["Title"] = "Home";
}

<div class="text-body">
    <h1 class="display-4">Welcome, @Model.FirstName</h1>
    <p>ClaimBuddy was created to give its users peace of mind in the event they need to file an insurance claim to replace an item lost due to an unfortunate event such as theft, fire, or flood. ClaimBuddy offers a convenient way to store the information one would need to file a successful claim. No more hoarding old receipts!</p>
</div>
