@model ClaimBuddy.Models.ViewModels.ItemFormViewModel

@{
    ViewData["Title"] = "New Item";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.PurchaseDate" class="control-label"></label>
                <input asp-for="Item.PurchaseDate" class="form-control" />
                <span asp-validation-for="Item.PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CategoryId" class="control-label"></label>
                <select asp-for="Item.CategoryId" class="form-control">
                    <option value="">Select Category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="Item.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Notes" class="control-label"></label>
                <textarea asp-for="Item.Notes" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Item.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}